---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/sections/Hero.astro";
import AboutImage from "../../assets/about-img.png";
---

<Layout>
  <main role="main" class="max-w-6xl mx-auto">
    <Hero
      image={AboutImage}
      title="Todo sobre JD - Blog"
      subtitle="Este sitio es un ejemplo de blog personal construido con Astro, pensado para compartir contenido técnico, documentar aprendizajes y publicar artículos de forma simple y performante."
      primaryAction={{
        href: "https://github.com/jonadev-ok/astro-blog-template",
        label: "Ver el repositorio",
      }}
      secondaryAction={{
        href: "/docs",
        label: "Ver documentación",
      }}
    />
  </main>
</Layout>
