---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import RecentPosts from "../components/sections/RecentPosts.astro";
---

<Layout>
  <main role=main class="max-w-6xl mx-auto">
    <Hero />
    <RecentPosts />
  </main>
</Layout>