---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import RecentPosts from "../components/sections/RecentPosts.astro";
import HeroImage from "../assets/hero-image.webp";
---

<Layout>
  <main role="main" class="max-w-6xl mx-auto">
    <Hero
      image={HeroImage} className="w-60"
      title="JD Blog - Astro Theme"
      subtitle="Hello, I’m an Astro theme designed to create content-based websites. Fully customizable, and you can also add new entries."
      primaryAction={{ href: "/blog", label: "View Blog" }}
      secondaryAction={{ href: "/about", label: "About Me" }}
    />
    <RecentPosts />
  </main>
</Layout>
