---
import HeroImage from "../../assets/hero-image.png"
import Button from "../ui/Button.astro";
const title = "JD Blog - Astro Template";
const subtitle = "Hola, soy un tema de Astro para crear sitios web basados en contenido. Completamente personalizable, tambien puedes añadir nuevas entradas. Haz clic en el icono de GitHub a continuación para visitar mi repositorio.";
const link = "/blog"
---

<section
  class="flex justify-between items-center overflow-hidden pt-20 max-w-full"
>
<div class="flex flex-col w-150">
  <h1 class="text-5xl text-start font-bold tracking-tight text-zinc-100 sm:text-4xl">
      {title}
    </h1>

    <p class="mt-6 text-lg text-start text-center text-zinc-400">
      {subtitle}
    </p>
    <div class="flex flex-row mt-6">
    <Button
    href="/blog"
    label="Ver Blog"/>
    <Button
    href="/about"
    label="Sobre Mi"/>
  </div>
  </div>
  <div class="flex flex-col">
    <img src={HeroImage.src} alt="hola" class="w-60"/>
  </div>
</section>
