---
const navItems = [
  { label: "Home", href: "/" },
  { label: "Blog", href: "/blog" },
  { label: "About", href: "/about" },
];
---

<header class="sticky top-4 z-50 px-4">
  <nav
    class="mx-auto my-0 max-w-6xl h-20
      grid grid-cols-[auto_1fr_auto] items-center
      rounded-2xl
      bg-zinc-900/70
      px-5 py-3
      backdrop-blur-md
      shadow-lg shadow-black/20"
  >
    <a href="/" class="flex items-center gap-2 font-semibold text-zinc-100">
      <h2 class="text-blue-600 font-semibold">JD - Blog</h2>
    </a>
    <ul class="hidden md:flex justify-center gap-6 text-sm text-zinc-200">
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              class="text-base font-normal opacity-80 transition hover:opacity-100 "
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
    <!-- <div class="flex justify-end">
      <button
        aria-label="Toggle theme"
        class="text-zinc-200
          opacity-80
          transition
          hover:opacity-100"
      >
        ☀️
      </button>
    </div> -->
  </nav>
</header>
